{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>


    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li id="a"><a href="{% url 'home' %}">BurnDon</a></li>
            <li id="b"><a href="{% url 'page2' %}">Assets</a></li>
            <li id="c"><a href="{% url 'page3' %}">Savings</a></li>
            <li id="d"><a href="{% url 'list' %}">BucketList</a></li>
            <li id="e"><a href="{% url 'login' %}">LOGIN</a></li>
            <li id="f"><a href="{% url 'signup' %}">SIGN UP</a></li>
            <li id=""><a href="{% url 'logout' %}">LOGOUT</a></li>
        </ul>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer id="footer">
        <p>@어흥올림픽</p>
        <p>강세륜, 고나연, 전혜인, 허유진</p>
    </footer>

</body>

</html>