{% extends 'base.html' %}
{% load static %}

{% block title %}
BurnDon
{% endblock %}

{% block link %}
{% static 'base/css/home.css' %}
{% endblock %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burn Don</title>
    

</head>
<body>
    {% block content %}

    <img src="{% static 'base/image/퇴사.jpg' %}">
    
    <div id="text">
        <div class="p">
            <p id="p1">파이어족의, 파이어족에 의한, 파이어족을 위한</p>
            <p id="p2">Burn Don :</p>
            <p id="p3">for your dream</p>
            
            <ui class="first">
                <li id="f1">1000M</li>
                <li id="f2">30M</li>
                <li id="f3">0+</li>
            </ui>
            <br>
            <br>
            <ui class="second">
                <li id="s1">목표 금액</li>
                <li id="s2">현재 금액</li>
                <li id="s3">버킷리스트</li>
            </ui>
        
        </div>
    </div>
    {% endblock %}
</body>
</html>