<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은퇴 가능 나이, 은퇴 후 삶 알아보기</title>
</head>
<body>
    <h2>은퇴 가능 나이, 은퇴 후 삶 알아보기</h2>

    <h1>내 연봉으로 10억을 벌려면 얼마나 걸릴까?</h1>
    <h1>그 돈을 벌면 은퇴 후에 잘 살 수 있을까?</h1>


    <div class="">
        <p>목표 저축액    <input type="text" id="input1"></p>
        <p>현재 저축액    <input type="text" id="input2"></p>
        <p>나의 연봉    <input type="text" id="input3"></p>
        <p>나의 나이    <input type="text" id="input4"></p>

        <p>은퇴 전 월간 생활비    <input type="text" id="input5"></p>
        <p>은퇴 후 월간 생활비    <input type="text" id="input6"></p>

    </div>

    <a href="" id="">
        <p>GO!</p>
    </a>

</body>
</html>