{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연도별 예상 저축 금액 알아보기</title>
</head>
<body>
    
    <h2>연도별 에상 저축 금액 알아보기</h2>

    <h1>지금처럼 살면 앞으로 얼마나 모을 수 있을까?</h1>

   

    <form method="POST" action="">
        <div id="" class="">
            
            
            <label for="">나의 연봉</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <label for="">나의 나이</label>
            <input type="text" id="" name="" class="" placeholder="정수 입력">
            <br>
            <label for="">현재 저축액</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <label for="">월간 생활비</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <br>
            <input type="submit" id="" class="" value="GO!">
            
        </div>

        
    </form>

    
</body>
</html>