{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은퇴 가능 나이, 은퇴 후 삶 알아보기</title>
</head>
<body>
    {% block content %}
    <h2>은퇴 가능 나이, 은퇴 후 삶 알아보기</h2>

    <h1>내 연봉으로 10억을 벌려면 얼마나 걸릴까?</h1>
    <h1>그 돈을 벌면 은퇴 후에 잘 살 수 있을까?</h1>

    <form method="POST" action="">
        <div id="" class="">
            <label for="">목표 저축액</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)" >
            <br>
            <label for="">현재 저축액</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <label for="">나의 연봉</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <label for="">나의 나이</label>
            <input type="text" id="" name="" class="" placeholder="정수 입력">
            <br>
            <br>
            <label for="">은퇴 전 월간 생활비</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            <br>
            <label for="">은퇴 후 월간 생활비</label>
            <input type="text" id="" name="" class="" placeholder="(단위:만 원)">
            
            <br>
            <br>
            <input type="submit" id="" class="" value="GO!">
        </div>
    </form>
    {% endblock %}
    

</body>
</html>