{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bucket_list/css/list.css' %}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>
<!-- <a href="{% url 'home' %}">home 으로 돌아가기</a> -->
<body>
  {% block content %}
    <p class="head">Bucket List</p>
    <p class="head2">은퇴 후, 새로운 삶을 꿈꿔보세요</p>

    <a class="addbtn" href="{% url 'new' %}">추가하기</a>


        
    {% for bucket in buckets.all %}

      <div class="">
        <div class="">
          <b class="name">{{ bucket.bucket }}</b>
          <p class="money">{{bucket.goal_money}}</p>
          
          
          <a class="editbtn" href="{% url 'edit' bucket.id %}">수정</a>
          <a class="deletebtn" href="{% url 'delete' bucket.id %}">삭제</a>
        </div>
      </div>

      <br>

    {% endfor %}

    <p class= "amount">필요한 금액:</p>
    <p class="moneySum">{{ goal_money_sum.goal_money__sum }}</p>

  {% endblock %}
</body>
</html>