{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block link %}
    {% static 'bucket_list/css/new.css' %}
    {% endblock %}
    
</head>
<body>
    {% block content %}
    <p class="head">Bucket List</p>
    <p class="head2">은퇴 후, 새로운 삶을 꿈꿔보세요</p>

<div class="mainbox">
    <form method="POST" enctype="multipart/form-data">
        
        {%csrf_token%}
        <br>
        
        {{post_form.as_p}}
        <button class="submitbtn" type="submit">확인</button>
    </form>
</div>
{% endblock %}
</body>
</html>

