.head {
    margin-top: 0px;
    top: 250px;
    left: 757px;
    width: 405px;
    height: 106px;
    text-align: center;
    font: italic normal 600 80px/106px Segoe UI;
    letter-spacing: 0px;
    color: #766391;
    opacity: 1;
}

.head2 {
    top: 425px;
    left: 774px;
    width: 372px;
    height: 27px;
    color: var(--unnamed-color-9f8fb8);
    text-align: center;
    font: normal normal normal 25px/28px MoeumT R;
    letter-spacing: 2px;
    color: #9F8FB8;
    opacity: 1;
}

.addbtn {
    top: 480px;
    left: 1174px;
    width: 88px;
    height: 27px;
    color: var(--unnamed-color-707070);
    text-align: center;
    font: normal normal normal 25px/28px MoeumT R;
    letter-spacing: 2px;
    color: #707070;

    text-decoration: none;
}

.name {
    top: 540px;
    left: 720px;
    width: 387px;
    height: 54px;
    color: var(--unnamed-color-230b55);
    text-align: left;
    letter-spacing: NaNpx;
    color: #230B55;
    opacity: 1;
}

.money {
    top: 0px;
    left: 221px;
    width: 84px;
    height: 54px;
    color: var(--unnamed-color-230b55);
    text-align: left;
    font: normal normal normal 25px/33px Malgun Gothic;
    letter-spacing: 2px;
    color: #230B
}

.editbtn {
    
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;

    font: normal normal bold 20px/27px var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-707070);
    text-align: center;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 1.6px;
    color: #707070;
    opacity: 1;

    text-decoration: none;
}

.deletebtn{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;

    font: normal normal bold 20px/27px var(--unnamed-font-family-segoe-ui);
    color: var(--unnamed-color-707070);
    text-align: center;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 1.6px;
    color: #707070;
    opacity: 1;

    text-decoration: none;

}
.amount {
    top: 876px;
    left: 778px;
    width: 152px;
    height: 34px;
    text-align: center;
    font: normal normal normal 30px/35px MoeumT R;
    letter-spacing: 2.4px;
    color: #F8F5F5;
    opacity: 1;

    top: 858px;
    left: 752px;
    width: 203px;
    height: 50px;
    background: var(--unnamed-color-9f8fb8) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #9F8FB8 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;

    float: left;
}

.moneySum {
    top: 858px;
    left: 955px;
    width: 214px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 10px 10px 0px;
    opacity: 1;

    top: 876px;
    left: 989px;
    width: 146px;
    color: var(--unnamed-color-707070);
    text-align: center;
    font: normal normal normal 25px MoeumT R;
    letter-spacing: 2.4px;
    color: #707070;
    opacity: 1;

    float: left;
}

p{
    text-align: center;
    margin-top: 10px;
}