@font-face {
  font-family: 'Eulyoo1945-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #F8F2F9 0% 0% no-repeat padding-box;
}

a {
  text-decoration: none;
  color: #230B55;
}


ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  height: auto;
  text-align: center;
}

li{
  display: inline-block;
  text-align: left;

}

#a{
  
  font: normal normal bold 65px/86px Segoe UI;
  letter-spacing: 0px;
}


#b,#c,#d,#e,#f {
  margin-left:140px;
  font: normal normal bold 30px/40px Segoe UI;  letter-spacing: 0px;
}

#e{
  margin-left:240px;
  font: normal normal bold 30px/40px Segoe UI;  letter-spacing: 0px;
}
#f{
  margin-left:70px;
  font: normal normal bold 30px/40px Segoe UI;  letter-spacing: 0px;
}

/* navbar */

#navbar {
  position: relative;
  display: flex;
  top: -10px;
  width: 100%;
  height: 270px;
  margin-top: 0;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #230B55;
}




/* footer */

#footer {
  position: fixed;
  height: 126px;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;

  font-size: 0.8rem;
  color: #B3ACBD;
  text-align: center;

  font-family: 'Eulyoo1945-Regular';
}



