.container{
  text-align: center;
  margin-top : 60px;
}

img{
  top: 330px;
  left: 160px;
  width: 800px;
  height: 532px;
  opacity: 0.8;
  display: flex;
  float: left;
}

#text{
  display: flex;
  text-align: center;
  padding-left: 80px;
}

#p1{
  text-align: left;
  font: normal normal normal 30px/35px MoeumT R;
  letter-spacing: 0px;
  color: #766391;
  opacity: 1;
  margin-top: 65px;
  margin-bottom: 0;
}
#p2, #p3{
  font: italic normal 600 70px/94px Segoe UI;
  letter-spacing: 5.6px;
  color: #230B55;
  opacity: 1;
  margin-top: 0px;
}
#p2{
  text-align: left;
  margin-bottom: 0px;
  margin-left: 0;

}
#p3{
  text-align: right;
  padding-left: 80px;
  margin-bottom: 100px;
}


.first{
  text-align: left;
  font: normal normal bold 40px/53px Segoe UI;
  letter-spacing: 0px;
  color: #766391;
  opacity: 1;
}
.second{
  color: #9F8FB8;
  text-align: left;
  font: normal normal 600 25px/33px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}
#f2{
  margin-left: 80px;
  margin-right: 100px;
}

#s1{
  margin-left: 60px;
}
#s2{
  margin-left: 80px;
}
#s3{
  margin-left: 70px;
}