{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은퇴 가능 나이, 은퇴 후 삶 알아보기(결과)</title>
    <link rel="stylesheet" href="{% static 'main/css/page5.css' %}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>
<body>
    {% block content %}    
    <p> 목표 금액을 달성할 수 있는 나이는 {{ goldAge }}세 입니다.</p>
    <p> 이 금액은 은퇴 후 {{ lastYear }}년동안 사용하면 소진됩니다.</p>
    {% endblock %}
</body>
</html>